{
padding:0;
margin:0;
-webkit-box-sizing:border box;
-moz-box-sizing:border box;
 -box sizing: border box;
}
  .social {
        position:fixed;
		left:0;
        top:200px;
		z-index:2000;
}
  .social ul {
  list-style: none;}
  .social ul li a { display:inline-block;
             color:#fff;
			 background:#000;
  padding:30px 40px; 
  text-decoration:none;
  -webkit-transition:all500ms ease;
  -o-transition:all500ms ease;
  transition:all500ms ease;
  }

  .social ul li  .icon-facebook {background:#0000FF;}
  .social ul li  .icon-twitter {background:#0FA3ED; }
  .social ul li  .icon-instagram {background:#ED0FAD; }
  .social ul li  .icon-youtube {background:#ED0F0F; }
   .social ul li  .icon-wikipedia {background:#c0c0c0; }
   
   .social ul li a:hover {
	   padding:30px 100px;
	   background:#000; 
   }
   